{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ page_title }}</h1>

            {{ form(form, { 'attr': {'novalidate': 'novalidate'} }) }}

        </div>
    </div>
</div>
{% endblock %}
